/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
body{
background-image: url("../images/background.jpg");
}

#header{
	image-orientation: center;
}

#text{
	background-color: white;
}

/*body{
background-image: url("../images/main_image.jpg");
background-position: top center;
background-repeat: no-repeat;
}*/


nav{
position: verticle;

}

.home{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-weight: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 2px red;
}
.home:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.members{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-weight: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 2px red;
text-color: #000;
}
.members:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.officers{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-weight: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 0px red;
text-color: #000;
}
.officers:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.ladies{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-weight: normal;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 0px red;
text-color: #000;
}
.ladies:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.apparatus{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-wieght: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 0px red;
text-color: #000;
}
.apparatus:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.photos{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-wieght: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 0px #ffffff;
text-color: #000;
}
.photos:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.fire{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-wieght: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 0px #ffffff;
text-color: #000;
}
.fire:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.login{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-wieght: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 0px #ffffff;
text-color: #000;
}
.login:active{
	position: relative;
	top:  1px;
	background-color: red;
}

.contact{
box-shadow: -1px 9px 11px -1px #ffffff;
background-color: #d3d3d3;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
text-indent: 0px;
border:  1px solid black;
display:  inline-block;
color: black;
font-family: charcoal cy;
font-size:  18px;
font-wieght: bold;
font-style:normal;
height: 21px;
line-height:21px;
width:  189px;
text-decoration: none;
text-align:  center;
text-alignt-shadow: 1px 1px 0px #ffffff;
text-color: #000;
}
.contact:active{
	position: relative;
	top:  1px;
	background-color: red;
}


/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/